@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pangolin&family=Quicksand:wght@300..700&display=swap");
@font-face {
  font-family: "Eraser";
  src: url("../fonts/Eraser.ttf") format("truetype");
  font-weight: normal;
}
body {
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
  background-color: black;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.containerText {
  width: 200px;
  text-align: start;
  font-size: 0.78rem;
}

#frame {
  background: linear-gradient(to bottom right, #2e4d35, #1b2d21);
  border-radius: 7px;
  background-size: cover;
  background-position: center;
  border: solid;
  min-height: 300px;
  max-width: 860px;
  margin: 0 auto;
  border: solid 20px rgb(82, 39, 4);
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 10px 10px 8px;
  position: relative;
}

.containerOptions {
  margin-top: 80px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 40px;
  font-family: "Eraser";
}

.options p {
  cursor: pointer;
}

#container {
  width: 200px;
  margin-top: 50px;
  display: none;
  flex-wrap: wrap;
  position: relative;
  font-family: "Eraser";
}

.box {
  height: 60px;
  border: solid 3px rgb(255, 255, 255);
  box-sizing: border-box;
  flex: 1 1 33%;
  font-size: 40px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#box1,
#box2,
#box3 {
  border-top: none;
}

#box3,
#box6,
#box9 {
  border-right: none;
}

#box1,
#box4,
#box7 {
  border-left: none;
}

#box7,
#box8,
#box9 {
  border-bottom: none;
}

.containerScoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#x,
#o {
  font-size: 80px;
  font-weight: 1000;
}

.scoreboard {
  display: flex;
  position: relative;
}

.scoreboard::after {
  content: "";
  position: absolute;
  width: 4px;
  border-radius: 10px;
  height: 170px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  transform: translate(-50%);
}

.scoreboard div:nth-child(1) {
  margin-right: 30px;
}

#clearboard {
  display: none;
  position: absolute;
  bottom: 0;
  left: 51%;
  transform: translate(-50%);
  width: 40px;
  cursor: pointer;
}

.player {
  display: none;
  position: absolute;
  top: 0;
  left: 52%;
  transform: translate(-50%);
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
}

.playerWin {
  display: none;
  position: absolute;
  top: 15px;
  left: 51%;
  transform: translate(-50%);
  background-color: white;
  border-radius: 4px;
  color: black;
  margin: 0;
  padding: 10px;
  font-weight: 700;
}

#reload {
  position: absolute;
  font-size: 10px;
  bottom: 4px;
  right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#reload img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

@media (max-width: 730px) {
  h1 {
    font-size: 24px;
  }
  #frame {
    flex-direction: column;
    align-items: center;
    min-height: 650px;
    max-height: 700px;
    padding: 2px 10px;
    border: solid 13px rgb(82, 39, 4);
  }

  .containerText {
    margin: 0;
    width: 100%;
  }

  #container {
    margin-bottom: 50px;
  }

  .containerScoreboard {
    position: absolute;
    margin-top: 150px;
  }

  .playerWin {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
  }

  .player {
    left: 5rem;
    top: 370px;
  }
}
